<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="headless_integration">
  <description>PHP CodeSniffer configuration for Drupal Headless Module</description>

  <file>.</file>

  <exclude-pattern>*/vendor/*</exclude-pattern>
  <exclude-pattern>*/node_modules/*</exclude-pattern>

  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,md,yml"/>
  <arg name="colors"/>
  <arg value="p"/>

  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
</ruleset>
